#tabnavi ul{
    margin:0;
    padding:0;
}
#tabnavi li{
    display:inline;
}
#tabnavi li a{
    display:inline-block;
    background:#405dca;
    color:#fff;
    padding:5px;
    border-radius:5px 5px 0 0;
    text-decoration:none;
}
#tabnavi li a:hover,
#tabnavi li a.active{
    background:#ddd;
    color:#333;
}
#tabcontent{
    padding:10px;
    border:1px dotted #ccc;
}
